.movieCard {
  position: relative;
  cursor: pointer;
}

.movieCard > img {
    width: calc(100vw / 6.5);
    border-radius: 4px;
    pointer-events: none;
}

/* Posters Logo */
.movieLogo {
    position: absolute;
    width: 50% !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
    text-transform: uppercase;
  }