/* Fonts */

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansMedium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  /* Netflix Default Palette */
  --white: #fff;
  --clearwhite: rgba(255, 255, 255, 0.3);
  --smokeWhite: #e5e5e5;
  --midgray: rgb(109, 109, 110, 0.3);
  --gray: #808080;
  --black: #141414;
  --red: #b9090b;
  /* Bonus Colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  /* Event Colors */
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

select:focus-visible {
  outline: none;
  border: none;
}

/* GENERAL */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background: var(--black);
  font-family: "Netflix Sans";
  width: 100%;
  min-width: 360px;
}

h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 81.73px;
}

h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 81.73px;
}

h3 {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 33.2px;
  color: var(--smokeWhite);
}

h4 {
  font-size: 26px;
  font-weight: 400;
  line-height: 33.2px;
}

a {
  color: inherit;
  text-decoration: none;
}

.placeholder {
  width: 100%;

  background: linear-gradient(to right, transparent 8%, rgba(255, 255, 255, 0.25) 18%, transparent 33%);
  background-size: 200%;
  background-color: #2f2f2f;
  animation: loading 2s ease-in-out infinite;
}

.ratio_16x9vpr {
  height: calc((100vw / 6.5) * (9 / 16));
}

.ratio_2x3vpr {
  min-height: calc((100vw / 6.5) * (3 / 2));
  height: calc((100vw / 6.5) * (3 / 2));
}

.ratio_16x9 {
  padding-top: calc(100% * (9 / 16));
  max-height: calc(100% * (9 / 16));
}

.ratio_1x1 {
  padding-top: 100%;
  height: 100%;
}

@keyframes loading {
  from {
    background-position: -100%;
  }

  to {
    background-position: 100%;
  }
}

footer {
  width: 60%;
  margin: 0 auto;
  color: var(--dark);
  font-size: max(16px, 1.2vw);
  margin-bottom: 50px;
}

@media only screen and (max-width: 780px) {
  .ratio_16x9vpr {
    height: calc((100vw / 4.5) * (9 / 16));
  }

  .ratio_2x3vpr {
    min-height: calc((100vw / 4.5) * (3 / 2));
    height: calc((100vw / 4.5) * (3 / 2));
  }
}

@media only screen and (max-width: 480px) {
  .ratio_16x9vpr {
    height: calc((100vw / 2.5) * (9 / 16));
  }

  .ratio_2x3vpr {
    min-height: calc((100vw / 2.5) * (3 / 2));
    height: calc((100vw / 2.5) * (3 / 2));
  }
}
