.godSlider {
  margin: 3em 0;
}

.godSlider h3 {
  display: inline-block;
}

.godSlider:hover .seeAllArrow {
  opacity: 1;
  transform: translate(-5px, 0);
  transition: transform 0.4s ease, background-position 0.4s, opacity 1.2s;
  background-position: right;
}

.sliderTitle {
  font-size: max(16px, 1.2vw);
  padding: 0 10px 0 60px;
}

.sliderTitle:hover ~ .seeAllArrow {
  display: none;
}

.seeAllText,
.seeAllArrow {
  padding-right: 1em;
  display: inline-block;
  opacity: 0;
  color: #54b9c5;
  font-weight: 500;
  font-size: max(10px, 0.8vw);
  background-repeat: no-repeat;
  background-size: auto max(8px, 0.9vw);
  background-position: 60px;
  transform: translate(-20px, 0.5px);
}

.sliderTitle:hover ~ .seeAllText,
.seeAllText::before {
  content: "Sfoglia tutti";
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.4s ease, background-position 0.4s, opacity 1.2s;
  background-position: right;
}

.movieSection {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

/* SliderButton */

.sliderButton {
  position: absolute;
  cursor: pointer;
  color: white;
  width: 100px;
  /* height 100% overflows smh */
  height: 98%;
  z-index: 7;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}

.sliderButton i {
  pointer-events: none;
}

.buttonDx {
  right: 0;
  background: linear-gradient(to left, #000, transparent);
  justify-content: end;
  padding-right: 1.5em;
}

.buttonSx {
  left: 0;
  background: linear-gradient(to right, #000, transparent);
  justify-content: start;
  padding-left: 1.5em;
}

/* Hide ScrollBar */
.posterContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome  */
}

.posterContainer {
  display: flex;
  gap: 5px;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

@media screen and (max-width: 780px) {
  .posterContainer {
    margin-left: -2em;
  }

  .sliderTitle {
    padding: 10px 0 0 20px;
  }

  .godSlider {
    margin: 1em 0;
  }
  
  .buttonSx {
    left: -32px;
  }
}

@media screen and (max-width: 480px) {
  .posterContainer {
    margin-left: -2em;
  }
  .godSlider {
    margin: 1em 0;
  }
  .sliderTitle {
    padding: 10px 0 0 20px;
    font-size: 14px;
    line-height: 14px;
  }
  .sliderButton {
    display: none;
  }
}
